<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800989319995-k1r9eqq95mbcmtjg3onko6i7hb093llp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800989319995-k1r9eqq95mbcmtjg3onko6i7hb093llp</string>
	<key>API_KEY</key>
	<string>AIzaSyDfjnjmNpSKzxmmBTUq2gztgLosygKfgpU</string>
	<key>GCM_SENDER_ID</key>
	<string>800989319995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>technomark.io.Final-Exam</string>
	<key>PROJECT_ID</key>
	<string>finalexam-6ae9e</string>
	<key>STORAGE_BUCKET</key>
	<string>finalexam-6ae9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800989319995:ios:7cd2c7b97b1f72d559dd1e</string>
</dict>
</plist>